html {
  font-size: $html__fontSize; /* 10px browser default */
}


body {
  background-color: $body_backgroundColor;
  color: $base__color;
  font-family: $base__fontFamily;
  font-size: rem($base__fontSize);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: $base__lineHeight;
  margin: 0;

  @media only screen and (max-width: $smallScreen) {

    font-size: rem($base__fontSize__smallScreen);


  }

  /* Chrome fix */
  > div {
    font-size: $baseDiv__fontSize;

    @media only screen and (max-width: $smallScreen){
      font-size: rem($baseDiv__fontSize__smallScreen);
    }
  }
}