/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings__fontFamily;
  font-weight: 600;
  line-height: $headings__lineHeight;
  margin: 0 0 10px;
}

h1 {
  font-size: rem($h1__fontSize);
}

h2 {
  font-size: rem($h2__fontSize);
}

h3 {
  font-size: rem($h3__fontSize);
}

h4 {
  font-size: rem($h4__fontSize);
}

h5 {
  font-size: rem($h5__fontSize);
}

h6 {
  font-size: rem($h6__fontSize);

}
