//
// Widget Title Stylings
//===============================


.sidebar .widget-title a {
  color: $widgetTitle__linkColor;
  text-decoration: none;
}

.widget-title {
  font-size: rem($widgetTitle__fontSize);
  margin-bottom: 20px;
}