/* ### Content */

.content {
  float: right;
  width: $content__width;

  @media only screen and (max-width: $largerScreen){
    width: $content__largerScreenWidth;

  }


  @media only screen and (max-width: $largeScreen){
    width: $content__largeScreenWidth;
  }


  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $contentBothSidebars__width;

    @media only screen and (max-width: $largerScreen) {
      width: $contentBothSidebars__largerScreenWidth;
    }


    @media only screen and (max-width: $largeScreen){
      width: $contentBothSidebars__largeScreenWidth;
    }
  }

  .content-sidebar &,
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar & {
    float: left;
  }

  .full-width-content & {
    width: 100%;
  }
}