//Base Colors
//==========================

$white: #fff;
$black: #000;
$red: #c3251d;
$gray-lighter: #eee;
$gray--light: #ddd;
$gray--medium: #777;
$gray: #333;

//
//Color Configuration
//===============================

$base--color: $gray;

$link--color: $red;
$link--hover-color: $gray;

$body--background-color: #eee;

//
// Elements
//================================
$base--color: $gray;
$body--background-color: $gray-lighter;

// Form Elements
$search-input--background-color: $white;
$search-input--color: $gray;
$input--background-color: $white;
$input--border-color: $gray--light;
$input--color: $gray;
$input--focus-border-color: $gray--light;
$button--background-color: $gray;
$button--hover-background-color: $red;
$button--hover-color: $white;
$button--color: $white;
$button--disabled-background-color: $gray-lighter;
$button--disabled-color: $gray--medium;

//
// Header
//================================

$site-title--link-color: $gray;
$site-header--background-color: $white;

//
// Navigation
//=================================

$nav--link-color: green;
$nav--hover-color: $red;
$submenu--border-color: $gray-lighter;
$submenu--link-background-color: $white;

$primary-nav--background-color: $white;
$primary-nav--border-color: $gray-lighter;
$primary-nav--link-color: $nav--link-color;

$secondary-nav--border-color: $gray-lighter;
$secondary-nav--background-color: $white;
$secondary-nav--link-color: $nav--link-color;

$js-nav--background-color: $white;
$js-nav--hover-color: $black;
$js-nav--focus-color: $red;

$nav-toggle--background-color: $white;
$nav-toggle--color: $gray;

$archive-pagination--backgroundColor: $white;
$archive-pagination--color: $gray;
$archive-pagination--hover-background-color: $red;
$archive-pagination--hover-color: $white;




//
// Footer
//=================================
$site-footer--border-color: $gray-lighter;
$site-footer--background-color: $white;
$footer-widgets--background-color: $white;

//
// Entry Content
//=================================
$entry-footer__meta--border-color: $gray-lighter;
$entry--background-color: $white;
$entry-title--link-color: $gray;
$entry-title--hover-color: $red;

$entry-content__code--background-color: $gray;
$entry-content__code--color: $gray-lighter;


//
// Comments
//=================================

$comment--background-color: $white;


//
// Widgets
//=================================
$widget-title--link-color: $gray;

//
// Plugins
//=================================
$enews--background-color: $gray;
$enews--color: $white;
$enews__input--border-color: $gray;
$enews__submit-button--background-color: $red;
$enews__submit-button--color: $white;

$enews__submit-button__backgroundHoverColor: $enews__submit-button--color;
$enews__submit-button_--hover-color: $enews__submit-button--background-color;


//General Components
$breadcrumbs--background-color: $white;
$author-box--background-color: $white;
$after-entry_backgroundColor: $white;
$archive-description--background-color: $white;
