$white: #fff;
$black: #000;
$base__color: #333;

$link__color: #c3251d;
$link__hoverColor: #333;

$body_backgroundColor: #eee;

//
// Header
//================================

$siteTitle__linkColor: #333;
$siteHeader__backgroundColor: $white;

//
// Navigation
//=================================

$nav__linkColor: #333;
$nav__hoverColor: #c3251d;
$submenu__borderColor: #eee;
$submenu__linkBackgroundColor: $white;

$primaryNav__backgroundColor: $white;
$primaryNav__borderColor: #eee;
$primaryNav__linkColor: $nav__linkColor;

$secondaryNav__borderColor: #eee;
$secondaryNav__backgroundColor: $white;
$secondaryNav__linkColor: $nav__linkColor;

$jsNav__backgroundColor: $white;
$jsNav__hoverColor: $black;
$jsNav__focusColor: #c3251d;

$navToggle__backgroundColor: $white;
$navToggle__textColor: #333;

$archivePagination_backgroundColor: $white;
$archivePagination_color: #333;
$archivePagination_hoverBackgroundColor: #c3251d;
$archivePagination_hoverColor: $white;




//
// Footer
//=================================
$siteFooter_borderColor: #eee;
$siteFooter__backgroundColor: $white;
$footerWidgets__backgroundColor: $white;

//
// Entry Content
//=================================
$entryFooter__meta__borderColor: #eee;
$entry__backgroundColor: $white;
$entryTitle__linkColor: #333;
$entryTitle__hoverColor: #c3251d;

$entryContent__code__backgroundColor: #333;
$entryContent__code__color: #eee;


//
// Comments
//=================================

$comment__backgroundColor: $white;


