//
// Dimension variables
//========================


//
// Header
//==========================

$titleArea__width: 300px;

$siteTitle__minHeight: 80px;

$headerRight__width: 800px;

$headerRight__laptopWidth: 620px;



