//
// Dimension variables
//========================


//
// Header Module
//==========================

$titleArea__width: 300px;

$siteTitle__minHeight: 80px;

$headerRight__width: 800px;

$headerRight__width__largeScreen: 620px;




// Footer Module

$footerWidgets__width: 380px;
$footerWidgets__width__largeScreen: 300px;



