

//
// Navigation
//=================================

$nav__fontSize: 16;
$submenu__fontSize: 14;

$primaryNav__fontSize: 14;

$archivePagination_fontSize: 16;

//
// Header
//=================================

$siteTitle__fontSize: 30;
$siteDescription__fontSize: 16;

