

//
// Navigation
//=================================

$nav__fontSize: 16;
$submenu__fontSize: 14;

$primaryNav__fontSize: 14;

$archivePagination_fontSize: 16;

//
// Header
//=================================

$siteTitle__fontSize: 30;
$siteDescription__fontSize: 16;


//
// Footer
//=================================

siteFooter__fontSize = 16;

$footerWidgets__fontSize = 18;

//
// Entry Content
//====================================
$entryMeta__fontSize: 16;
$entryMeta__header__fontSize: 16;
$entryMeta__footer__fontSize: 16;

$entryTitle__fontSize: 36;



//
// Comments
//====================================
$comments__fontSize: 16;


