//
// Entry Meta
//==========================================


.entry-footer {

  .entry-meta {
    border-top: 1px solid $entry-footer__meta--border-color;
    padding-top: 24px;
    margin-bottom: 0;

    //@include rem(font-size,$entry-footer__entry-meta--font-size);
  }
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px;
}